.wpds-button-small-m70pbgt8 {
  font-size: 12px;
  line-height: 12px;
}
.wpds-button-large-0gukdhlb {
  font-size: 20px;
  line-height: 20px;
}
.wpds-button-primary-a54fi7tr {
  color: white;
  background-color: blue;
}
.wpds-button-secondary-79hgruvb {
  color: blue;
  background-color: white;
}
.wpds-button-grsfungq {
  color: white;
  background-color: blue;
  font-size: 16px;
}
